code/app/code/community/Allies/OroApi/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="salesOrderItemEntity">
                <all>
                    <element name='price_incl_tax' type='xsd:string' minOccurs='0' />
                    <element name='base_cost' type='xsd:string' minOccurs='0' />
                    <element name='row_total_incl_tax' type='xsd:string' minOccurs='0' />
                    <element name='hidden_tax_amount' type='xsd:string' minOccurs='0' />
                    <element name='surcharge_amount' type='xsd:string' minOccurs='0' />
                </all>
            </complexType>
        </schema>
    </types>
</definitions>