code/app/code/community/Allies/OroApi/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="{{var wsdl.name}}"
                  targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="salesOrderItemEntity">
                <xsd:sequence>
                    <xsd:element name="price_incl_tax" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_cost" type="xsd:string" minOccurs="0" />
                    <xsd:element name="row_total_incl_tax" type="xsd:string" minOccurs="0" />
                    <xsd:element name="hidden_tax_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="surcharge_amount" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
</wsdl:definitions>
            
                    